.marg {
    margin: 10px 5px 5px 5px;
}

.btn {
    margin-top:5px;
}

.textHeight {
    height:38px;
}

.selectWidth {
    width:auto;
    display:inline;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height:90%;
  }

.ibox {
    display:block;
}

.hp-center {
    margin: auto;
    text-align: center;
}

.img-responsive {
    margin: 0 auto;
}

.row {
    padding: 15px 15px 15px 15px;
}

h4 {
    color:white;
}

.card {
    border-color:#343A40;
}

.card-header {
    border-color:#343A40;
}