.marg {
    margin: 10px 5px 5px 5px;
}

.btn {
    margin-top:5px;
}

.textHeight {
    height:42px;
}

.selectWidth {
    width:auto;
    display:inline;
}

.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height:90%;
  }

.ibox {
    display:block;
}

.hp-center {
    margin: auto;
    text-align: center;
}

.img-responsive {
    margin: 0 auto;
}

.row {
    padding: 15px 15px 15px 15px;
}

h4 {
    color:white;
}

.card {
    border-color: #343A40 /*#343A40;*/
}

.card-header {
    border-color: #343A40/*#343A40;*/
}

.card-bg {
    background: #0096D6;
}

.card-btn {
    width:100%;
}

.card-input {
    width:100%;
    margin: 5px;
}

.card-c {
    text-align: center;
    margin:5px 10px 5px 5px;
}

.white {
    color:white;
}

.tabhead {
    color: #CCCECF;
}

.tabhead:hover {
    color: white;
}

tabEntry {
    color: #343A40;
}

.tabEntry:hover {
    color: black;
}

.btn-primary {
    border-color:#343A40;
    color:#CCCECF;
    background: #343A40;
    margin: 2px;
}

.btn-primary:hover {
    border-color: white;
    background: #343A40;
    color: white;
}

.btnspace {
    margin-top: 10px;
}

h6 {
    display: inline;
}

.left {
    text-align:left;
    margin:5px;
}

.fa {
    display:inline;
}

.nowrap {
    width:100px;
    text-align: right;
    float:right;
}

.nowrap span {
    white-space: nowrap;
    float: right;
    padding-right:5px;
    padding-left:5px;
}